.navbar {
    background-color: #83C5BE;
    height: 80px;
    display: flex;
}

.logo {
    width: 300px;
    flex: 1;
}

.left-side {
    flex: 1.5;
    text-align: right;
}

.user-display {
    flex: 1.5;
    text-align: right;
    display: flex;
}

.right-side {
    flex: 1;
    padding-top: 30px;
}

.link-tags {
    color: black;
    padding-left: 30px;  
    cursor: pointer;
    font-family: 'italiana';
}

.move-right {
    padding-left: 150px;
}

.welcome {
    display: inline-block;
    flex: 1;
    text-align: left;
    padding-top: 30px;
    padding-left: 75px;
font-family: 'italiana';
}