.product-card-div {
  margin: auto;
  height: 400;
  transition: transform .5s;
  margin-top: 25px;
}

.product-card-div:hover {
  transform: scale(1.02);
}

.product-card-div img{
  width: 400px;
  height: 350px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 3.95px 3.95px 2.6px;
}

.product-card-info {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Montserrat';
  font-weight: 400;
  background-color: #006277;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.5) 3.95px 3.95px 2.6px;
  color: white;
}

.product-card-info h2 {
margin: 0px;
}

.product-card-info h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-card-info p {
  margin-top: 10px;
  margin-bottom: 0px;
}

.all-products {
display: flex;
flex-wrap: wrap;
}

@media (max-width: 480px) {
.all-products {
  margin: auto;
  right: 0px;
  left: 0px;
}

.layout {
  align-items: center;
}
}
