.big-name {
  background-color: #83c5be;
  text-align: center;
  line-height: 60px;
  width: 275px;
  background-position: center;
  transform: translate(50%, 75%);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}
.imgURL {
  /*   imgURL add!! */
  width: 50%;
  height: auto;
  transform: translate(15%, 20%);
}

.details-info {
  transform: translate(10%, 10%);
  list-style-type: none;
}

.details-subheader {
  font-size: 19px;
  transform: translate(10%, 10%);
}
.condition-tag {
  font-size: 19px;
  transform: translate(0%, 0%);
  background-color: #83c5be;
}
@media (min-width: 400px) {
  .location-tag {
    transform: translate(400%, -690%);
    list-style-type: none;
    background-color: #83c5be;
    width: 275px;
    height: 75px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding-left: 40px;
  }
}
