.contactNav {
  background-color: #83c5be;
}

/*   height: 60px;
  display: flex;
} */

/* background-color: #83c5be;
  height: 80px;
  background-position: center;
  line-height: 60px;
  background-size: 300px 100px; */

/* CSS be wierd */
