.footer {
  min-height: 80px;
  display: flex;
  background-color: #83c5be;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contact-link {
  color: white;
  font-family: "Della Respira", serif;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}
